/* @font-face {
  font-family: "ITC Eras";
  src: url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.eot");
  src: url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.svg#ITC Eras")
      format("svg");
} */

@font-face {
  font-family: "ITC Eras Light";
  src: url("../fonts/0c67ab09c281e7d98fa88a86488e2dcd.eot"); /* IE9*/
  src: url("../fonts/0c67ab09c281e7d98fa88a86488e2dcd.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/0c67ab09c281e7d98fa88a86488e2dcd.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../fonts/0c67ab09c281e7d98fa88a86488e2dcd.woff")
      format("woff"),
    /* chrome、firefox */ url("../fonts/0c67ab09c281e7d98fa88a86488e2dcd.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/0c67ab09c281e7d98fa88a86488e2dcd.svg#ITC Eras Light")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "ITC Eras Demi";
  src: url("../fonts/457055c70a9c98aa64002f05d6652edc.eot"); /* IE9*/
  src: url("../fonts/457055c70a9c98aa64002f05d6652edc.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/457055c70a9c98aa64002f05d6652edc.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../fonts/457055c70a9c98aa64002f05d6652edc.woff")
      format("woff"),
    /* chrome、firefox */ url("../fonts/457055c70a9c98aa64002f05d6652edc.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/457055c70a9c98aa64002f05d6652edc.svg#ITC Eras Demi")
      format("svg"); /* iOS 4.1- */
}

:root {
  --background-color: #002060;
  --hover-color: #adb2bb;
  --text-color: white;
  --primary-color: #f17623;
  --secondary-color: #595959;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "ITC Eras Demi";
  height: 95vh;
}
.title {
  margin-top: 15px;
  margin-bottom: 5px;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-gap: 8px;
  text-align: center;
  padding: 8px;
  transition: opacity 0.5s ease-in;
}
.wrapper {
  height: 90vh;;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: auto;
  grid-gap: 8px;
}
footer {
  text-align: center;
  font-size: 18px;
  margin:2px;
}
.btn {
  width: 100px;
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  outline: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  font-family: "ITC Eras Light", Arial;
  font-size: 18px;
  margin: 8px;
}
h3,
h4,
h5,
.graph-desc {
  font-family: "ITC Eras Light", Arial;
}
.btn:hover {
  box-shadow: 0px 0px 8px 2px var(--hover-color);
}
.normalise{
  background-color: var(--secondary-color);
}
.checked {
  background-color: var(--primary-color);
}
header {
  text-align: center;
}
.container {
  border: 3px solid var(--primary-color);
  border-radius: 20px;
}

.radio-btn-selected {
  background-color: var(--primary-color);
  border: 3px solid #fff;
}

.controlWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 95%;
}

.select {
  display: block;
}
.loaderWrapper {
  width: 40vw;
  height: 40vh;
  background: #0000;
  position: absolute;
  top: 30%;
  left: 30%;
  margin: auto;
  padding: auto;
  text-align: center;
}

.canvas {
  position: relative;
  width: 90%;
  height: 90%;
}

.graphLabel {
  display: inline;
}
.graphContainer {
  display: flex;
  flex-direction: column;
}
.graphContainer * {
  margin: 4px 0;
}
.canvasContainer {
  position: relative;
  height:75%;
  /* width: 100%; */
}

.country-dataWrapper {
  margin: 0;
  padding: 25px 5px;
}
.country-data {
  line-height: 1.8rem;
}
.loader {
  margin: auto;
  width: 80%;
  height: 80%;
  background: url("../img/COVID.webp") no-repeat center center/contain;
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}